.contenedor{
	max-width: 900px;
	margin: auto;
}

header nav{
	background: #2C3E50;
	color: white;
	overflow: auto;
	padding: 20px 0px
}

header nav div ul li a{
    transition: 0.5s;
    padding: 10px 10px;
}

header nav div ul li a:hover{
    color: #1db69a;
}

header nav div ul li a:focus{
    color: white;
    background: #1db69a;
}

body h1, h2, h4{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

body h2{
	font-size: 28px;
}

body p{
	font-family: 'Open Sans', sans-serif;
}

header h2{
	display: inline-block;
	font-size: 18px;
}

header ul{
	float:right;
}

header li{
	display: inline-block;
}

header a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

header h1{
	font-size: 48px;
	padding: 15px;
}

header p{
	padding: 15px;
}

.menu{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    padding: 10px 14px;
    float: right;
    margin-right: 20px;
    display: none;
}

.centrar{
	text-align: center;
	background-color: #1db69a;
	color: white;
	padding: 60px 0px;
}

header img{
	height: 187px;
}

.ion-android-star{
	font-size: 29px;
}

.palitoblanco:before{
    content: "";
    height: 3px;
    width: 70px;
    display: inline-block;
    background: white;
    position: relative;
    bottom: 7px;
    right: 5px;
}

.palitoblanco:after{
    content: "";
    height: 3px;
    width: 70px;
    display: inline-block;
    background: white;
    position: relative;
    bottom: 7px;
    left: 5px;
}

.palitoazul:before{
    content: "";
    height: 3px;
    width: 70px;
    display: inline-block;
    background: #25455B;
    position: relative;
    bottom: 7px;
    right: 5px;
}

.palitoazul:after{
    content: "";
    height: 3px;
    width: 70px;
    display: inline-block;
    background: #25455B;
    position: relative;
    bottom: 7px;
    left: 5px;
}

.starblue{
    color: #25455B;
}

.centrardos{
	text-align: center;
	padding: 90px 0px;
}

.centrardos img{
	width: 100%;

}

.parrafo{
	width: 49%;
	display: inline-block;
	text-align: left;
	line-height: 1.5;
    margin: 20px 0px;
}



.about{
	max-width: 700px;
	margin: auto;
}

.centrar article a{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    padding: 10px 14px;
	position: relative;
    top: 10px;
}

.centrar article{
	padding: 15px 0px 30px 0px;
}

.ion-archive{
	font-size: 22px;
	padding-right: 15px;
}

.centrardos form input{
	display: block;
    margin: auto;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #bdbdbd;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 95%;
    padding: 17px 0px 17px 11px;
}

.centrardos form textarea{
    display: block;
    margin: auto;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #bdbdbd;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 95%;
    padding: 17px 0px 17px 11px;
}

.centrardos form input:first-child{
	border-top: 1px solid #bdbdbd;
}

.centrardos form input:nth-child(4){
    padding-bottom: 101px;
}

.centrardos form{
	max-width: 700px;
    margin: auto;
    padding-top: 15px; 
}


.centrardos form input:last-child{
    width: 74px;
    background: #1db69a;
    color: white;
    border-radius: 5px;
    margin-top: 14px;
    padding: 9px 0px;
    margin-left: 9px;
    font-weight: 700;
}


.footeruno{
    background-color: #2C3E50;
    padding: 30px 0px 30px 0px;
}

.footeruno article{
    color: white;
    display: inline-block;
    width: 31%;
    text-align: center;
    vertical-align: top;
}

.footeruno li{
    display: inline-block;
}

.footeruno span {
    font-size: 26px;
    width: 45px;
    height: 45px;
    border-radius: 49%;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    color: white;
    margin: 0 2px;
}

.footeruno h4{
    margin-bottom: 18px;
}

.footeruno p{
    font-size: 14px;
}

.footeruno article:last-child a{
    color:#1db69a;
    font-weight: bold;
}

.footerdos{
    background: #233140;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: white;
    font-size: 12px;
}

.efecto{
    width: 31%;
    display: inline-block;
    position: relative;
    margin: 6px;
}

.efecto span{
    position: absolute;
    top:0;
    left:0; 
    bottom:3px;
    right: 0;
    padding-top: 30%;
    transition: 1s;
}


.ion-search{
    font-size: 48px;
    opacity: 0;
    color: white;
}


.efecto span:hover{
    opacity: 0.9;
    background: #1db69a;
}

.footeruno span{
    transition: 0.5s;
}

.footeruno span:hover{
    color: #1db69a;
    background: white;
}

/*MEDIA QUERY*/

@media (max-width: 768px){


    header nav ul{
        display: none;
    }

    header nav div h2{
        margin-left: 20px;
        margin-top: 10px;
        font-size: 24px;
    }

    .menu{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    padding: 10px 14px;
    float: right;
    margin-right: 20px;
    display: inline-block;
    transition: 1s;
}

.menu:hover{
    background: #1db69a;
    border: 1px solid #1db69a;
}

header .menu span{
    margin-left: 8px;
}

header img {
    height: 337px;
}

header p{
    font-size: 20px;
}

.efecto {
    width: 80%;
}



.ion-search {
    font-size: 80px;
}

body h2{
    font-size: 60px;
}

.ion-android-star {
    font-size: 45px;
}

.palitoblanco:before {
    height: 5px;
    width: 120px;
    bottom: 12px;
    right: 8px
}

.palitoblanco:after {
    height: 5px;
    width: 120px;
    bottom: 12px;
    left: 8px;
}


.palitoazul:before {
    height: 5px;
    width: 120px;
    bottom: 12px;
    right: 8px
}

.palitoazul:after {
    height: 5px;
    width: 120px;
    bottom: 12px;
    left: 8px;
}

.parrafo {
    width: 100%;
    font-size: 30px;
}

.centrar article a {
    font-size: 28px;
    top: 20px;
}

.centrardos form input{
    font-size: 24px;
}

.centrardos form textarea{
    font-size: 24px;
}

.centrardos form input:last-child{
    font-size: 20px;
}

.footeruno article {
    width: 100%;
    margin-bottom: 25px;
}

.footeruno h4 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footeruno p {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 89%;
    margin: auto;
}

.contenedor{
    max-width: 768px;
    margin: auto;
}

.footeruno span {
    font-size: 40px;
    width: 60px;
    height: 60px;
    padding-top: 8px;
    border: 2px solid white
}

.footerdos p{
    font-size: 16px;
}

.footerdos{
    padding: 40px 0px 40px 0px;
}

}
